# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/*
!build/
!build/.gitkeep

.idea/
.vscode/

# Python Stuff
__pycache__/
venv/

# LaTeX Stuff
*.aux
*.log
*.toc
_minted-main/

# Compiled protobuf files
*.pb.*
*_pb.*
*_pb2.*

# npm stuff
node_modules/
dist/

# macOS Ranz
._*
.DS_Store
